<!DOCTYPE html>
<html>
  <head>
    <!-- Latest compiled and minified CSS -->
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">

  <!-- jQuery library -->
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>

  <!-- Latest compiled JavaScript -->
  <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
    <meta charset="utf-8">
    <title></title>
  </head>
  <body>
    <h1>BLOGS</h1>
    <label for="blog">Blog Name</label>
    <input type="text" name="blog_title" value="">
    <br>
    <div class="form-group">
      <label for="comment">Post:</label>
      <textarea class="form-control" rows="5" id="blog"></textarea>
      <br>
      <input type="submit" name="" value="submit">
    </div>

    <h1>Users Blogs</h1>
  </body>
</html>
